{:kotoba.app/id "cloud.itonami.isic-2420", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihgdlyr75qgqodfdfxedqpyqlbws5bf7hypj2zbzbek2cvhxjxrba", :kotoba.app/embed-url "ipfs://bafkreihgdlyr75qgqodfdfxedqpyqlbws5bf7hypj2zbzbek2cvhxjxrba", :published {:archive "https://kotobase.net/ipfs/bafkreihgdlyr75qgqodfdfxedqpyqlbws5bf7hypj2zbzbek2cvhxjxrba", :size 73016, :put-status 201, :get-status 200, :at "2026-08-15T13:56:39.331Z"}}
